<div class="settings-modal">
  <div class="modal-header">
    <h2>Settings</h2>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body">
    <!-- Notifications -->
    <div class="setting-group toggle-group">
      <div class="toggle-info">
        <label class="setting-label">Notifications</label>
        <span class="setting-desc"
          >Enable push notifications for case updates</span
        >
      </div>
      <mat-slide-toggle
        [checked]="notificationsEnabled"
        (change)="toggleNotifications()"
        color="primary"
      >
      </mat-slide-toggle>
    </div>

    <!-- Date Format -->
    <div class="setting-group">
      <label class="setting-label">Date Format</label>
      <mat-form-field appearance="outline" class="full-width">
        <mat-select
          [(value)]="selectedDateFormat"
          (selectionChange)="onDateFormatChange($event.value)"
        >
          <mat-option *ngFor="let df of dateFormats" [value]="df.value">{{
            df.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="modal-footer">
    <button mat-raised-button class="btn-close" (click)="close()">Close</button>
  </div>
</div>
